/* author: Dheeraj Sayala
 * */
body { 
  font-size: 100%;
  font-family: "Droid Sans", sans-serif;
  background: url("/static/images/bg.jpg") repeat scroll 0 0 #393939;
}

a, a:visited, a:link, #curr_username {
  text-decoration: none;
}

input[type=text], textarea { 
  font-size: 0.9em;
  border: 1px solid lightgrey;
  margin-bottom: 5px;
}
input[type=text]:focus, textarea:focus { 
  border-color: #c7f464;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 4px #c7f464;
  -webkit-box-shadow: 0 0 4px #c7f464;
  box-shadow: 0 0 4px #c7f464;
}
textarea { width: 90%; }
#tweet_message { width: 100%; }

.login { font: .9em/1.5em "Droid Sans"; }

.redtext { color: red; }
.ajax_loader { 
  float: right; 
  margin: 2px;

}

small, form>label, .pub_time { 
  font-size: 75%; 
  color: #666;
}

#header, #container, #footer {
  position: relative;
  width: 55em;
  margin: 0 auto;
  overflow: hidden;
}
#logo {
  display: block;
  float: left;
  width: 15em;
  text-align: center;
}
#logo a {
  color: #B3DC5A;
  font: 4em/1.5 Amaranth;
  text-shadow: -2px -2px #222, 1px 0 #666;
}

#nav {
  font-size: 105%;
  position: absolute;
  right: 1em;
  bottom: 1em;
  margin-top: 1.5em;
}
#nav > a {
  display: block;
  float: left;
  margin: 0 1em;
  padding: 0.5em 0.5em;
  color: #B3DC5A;
  text-shadow: 0 1px #666;
}
#container {
  position: relative;
  padding: 1em;
  min-height: 30em;
  background: #f9f9f9;
  -moz-box-shadow: 0 0 8px #444;
  -webkit-box-shadow: 0 0 8px #444;
  box-shadow: 0 0 8px #444;
  -moz-border-radius: 5px;
}

#footer > span {
  font-size: 90%;
}
#intro {
  position: absolute;
  width: 11em;
  top: 2em;
  font-size: 130%;
  font-family: "Droid Serif";
  text-align: center;
}
#userdetails { 
  position: absolute;
  width: 15em;
  overflow: hidden;
  text-align: center; 
  background: -moz-linear-gradient(top, rgba(199,244,100,.25) 10%, rgba(157,191,78,.25) 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(10%,rgba(199,244,100,.25)), 
                color-stop(100%,rgba(157,191,78,.25))); /* webkit */

  -moz-box-shadow: 0 0 4px #888;
  -webkit-box-shadow: 0 0 4px #777;
  box-shadow: 0 0 4px #777;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#userdetails > img {
  padding: 1em;
}
#change-photo {
  display: block;
  margin-top: -1.5em;
  color: grey;
  font: 0.8em/1.1em "Droid Sans";
}
#page_username { 
  color: #556270;
  margin-top: 0.5em;
}
#about_me {
  display: block;
  font-size: 0.8em;
  padding: 0.2em 1.5em;
}
#error, #main {
  padding: 0 0.2em 0 0.8em;
  margin-left: 16em;
  width: 38em;
}
#itemlists { 
  font-size: 0.95em;
}
.item {
  background: -moz-linear-gradient(top, rgba(199,244,100,.25) 10%, rgba(157,191,78,.25) 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(10%,rgba(199,244,100,.25)), 
                color-stop(100%,rgba(157,191,78,.25))); /* webkit */
  padding: 0.7em 0.9em;
  overflow: hidden;
  clear: both;
  word-wrap: break-word;
}
.item:hover {
  -moz-box-shadow: 0 0 3px hsla(90, 0%, 25%, 0.6);
  -webkit-box-shadow: 0 0 3px hsla(90, 0%, 25%, 0.6);
  box-shadow: 0 0 3px hsla(90, 0%, 25%, 0.6);
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.item > img {
  position: absolute;
}
.tweet > .username, .message, .pub_time {
  margin-left: 60px;
}
.tweet > .username { 
  font: bold normal 0.95em/1.5 "Droid Sans";
  color: #556270;
}
.tweet > .username:hover {
  color: #444;
}
.message { 
  font: 0.95em/1.4 "Droid Serif";
  display: block;
}
.pub_time { margin-top: 0.5em; }

#register_form { width: 90%; }
#register_form > * { display: block;
  margin: 5px;
}

#tweet_form { width: 37.8em; margin-bottom: 1.9em; }
#tweet_submit{ float: right; }

.fbutton, .ufbutton {
  width: 60%;
  font: 0.9em/1.4em "Droid Sans";
  padding: 3px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.fbutton { 
  background: #a4bef3;
  border: 1px solid #8cbcec;
}
.fbutton:hover {
  -moz-box-shadow: 0 0 2px #2fc8ff;
}

.ufbutton { 
  background: #B3DC5A;
  border: 1px solid #2ead6f;
}
.ufbutton:hover { 
  color: #fff; 
  text-shadow: 1px 1px 2px #999;
  background: #f96851;
  border: 1px solid #8f2704;
}

#stats {
  list-style: none;
  text-align: left;
  padding: 0.8em 0.5em;
  margin-left: 0;
}
#stats > li {
  display: block;
  padding: 3px;
  padding-left: 1em;
  border: 1px solid hsla(0, 0%, 50%, 0.2);
}
#stats a { 
  float: right;
  padding-right: 1em;
  padding-left: 0.5em;
}

#request_login {
  font-size: 105%;
  position: absolute;
  right: 1em;
  bottom: 1em;
  color: #B3DC5A;
}
#login_button {
  text-align: center;
  margin: 0.5em;
  padding: 0.2em 0.5em;
  color: #fafafa;
  text-shadow: 1px 1px #888;
  background-color: hsla(79, 57%, 42%, 1);
  font: 1.5em "Droid Sans";
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#login_button:hover {
  background-color: hsla(89, 57%, 37%, 1);
  -moz-box-shadow: 1px 1px 2px #666;
}

#footer {
  padding: 10px 5px;
  font: 15px/1.5 "Droid Sans";
  color: #C2E37B;
}
#copyright {
  float: left;
}
#powered-by {
  float: right;
}
