<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Birdie{% endblock %}</title>
    <link href="/static/css/base.css" rel="stylesheet" type="text/css"/>
    {% block head %}{% endblock %}
</head>
<body>
    <div id="container">
        <header id="header">
            {% block header %}
            <h1 class="title"><a href="/"><img src="" alt="Birdie"/></a></h1>
            <div class="login">
                {% if user %}
                <span class="item nickname">{{ user.nickname }}</span> |
                <span class="item"><a href="{{ logout_url|escape }}">Sign out</a></span>
                {% else %}
                <span class="item"><a href="{{ login_url|escape }}">Sign in</a></span>
                {% endif %}
            </div>
            {% endblock %}
        </header>
        <div id="main">
            {% block body %}{% endblock %}
        </div>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="/static/js/jquery-1.5.2.min.js"%3E%3C/script%3E'))</script>
  <script src="/static/js/script.js"></script>
</body>
</html>
