<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Birdie{% endblock %}</title>
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    {% block head %}{% endblock %}
</head>
<body {% block bodyattr %}{% endblock %}>
    <div id="container">
        <header id="header">
            {% block header %}
            <h1 id="logo"><a href="/">Birdie</a></h1>
            <div class="login">
                {% if user %}
                    {% if curr_bird %}
                    <span id="curr_username">{{ curr_bird.username }}</span> | 
                    {% endif %}
                <span><a href="{{ logout_url|escape }}">Sign out</a></span>
                {% else %}
                <span><a href="{{ login_url|escape }}">Sign in</a></span>
                {% endif %}
            </div>
            {% endblock %}
        </header>
        <div id="flash">
            {% block flash %}
                {% if flash %}{{ flash }}{% endif %}
            {% endblock %}
        </div>
        {% if error %}
            <div id="error">
                {{ error }}
            </div>
        {% endif %}
        <div id="main">
            {% block body %}{% endblock %}
        </div>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="/static/js/jquery-1.5.2.min.js"%3E%3C/script%3E'))</script>
  <script src="/static/js/plugins.js"></script>
  <script src="/static/js/script.js"></script>
</body>
</html>
