{% extends "base.html" %}

{% block title %}
    Public Timeline
{% endblock %}


{% block header %}
    <h1 id="logo"><a href="/">Birdie</a></h1>
    {% if not user %}
        <div id="request_login">Please use your google account to
            <a id="login_button" href="{{ login_url|escape }}">Sign in</a>
        </div>
    {% else %}
        <nav id="nav">
            <a href="/">Back to Home</a>
            <a href="{{ logout_url|escape }}">Sign out</a>
        </nav>
    {% endif %}
{% endblock %}

{% block body %}
<div id="intro">
    A twitter clone
</div>
<div id="main">
    <div id="itemlists">
        <div id="tweets">
            {% for tweet in public_tweets %}
            <div class="tweet item">
                <img src="http://www.gravatar.com/avatar/{{tweet.email_hash}}?d=wavatar&s=50" />
                <a class="username" href="/user/{{tweet.username}}">{{ tweet.username }}</a>
                <span class="message">{{ tweet.message }}</span>
                <span class="pub_time">at {{ tweet.published|date:"P \- D, M d" }}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div> <!-- end of main -->
{% endblock %}
