{% extends "base.html" %}

{% block title %}
{{ bird.username }}'s Timeline
{% endblock %}

{% block body %}
    <div id="userdetails">
        <h2 id="page_username">{{ bird.username }}</h2>
        <p>{{ bird.about }}</p>
        <ul id="stats">

            <li>Tweets 
                <a href="/user/{{bird.username}}" id="no_tweets">{{bird.no_tweets}}</a>
                <!--
                <a name="tweets" id="no_tweets" class="ajaxable" href="/user/{{bird.username}}"
                    data-action="showitems" data-method="get_tweets">{{ bird.no_tweets }}</a>
                -->
            </li>
            <li>Followers 
                <a id="no_followers" class="ajaxable" href="/followers/{{bird.username}}"
                    data-action="showitems" data-method="get_followers" data-target-id="followers">{{ bird.no_followers }}</a>
            </li>
            <li>Following 
                <a id="no_following" class="ajaxable" href="/following/{{bird.username}}"
                    data-action="showitems" data-method="get_following" data-target-id="following">{{ bird.no_following }}</a>
            </li>

            <li>Member since {{ bird.joined|date:"M, Y" }}</li>
        </ul>
    </div>

    {% if user %}
        {% block follow_unfollow %}
        {% endblock %}

        {% block share %}
        {% endblock %}
    {% endif %}

    <div id="itemlists">
        <div id="tweets" class="loaded">
            {% for tweet in tweets %}
            <div class="tweet">
                <img src="{{ tweet.gravatar_url }}" alt="no-image" />
                <a class="username" href="/user/{{tweet.username}}">{{tweet.username}}</a>
                <span class="message">{{tweet.message}}</span>
                <span class="pub_time">{{tweet.published|date:"P \- D, M d"}}</span>
            </div>
            {% endfor %}
        </div>
        <div id="followers" style="display: none;"><p></p></div>
        <div id="following" style="display: none;"><p></p></div>
    </div>
    <script id="tweet_tmpl" type="text/x-jquery-tmpl">
        <div class="tweet">
            <img src="${ gravatar_url }" alt="no-image" />
            <a class="username" href="/user/${username}">${username}</a>
            <span class="message">${message}</span>
            <span class="pub_time">${published}</span>
        </div>
    </script>


{% endblock %}
