{% extends "base.html" %}

{% block title %}
{{ bird.username }}'s Timeline
{% endblock %}

{% block body %}
    <div id="userdetails">
        <h2 id="username">{{ bird.username }}</h2>
        <p>{{ bird.about }}</p>
        <ul id="stats">
            <li>Tweets {{ bird.no_tweets }}</li>
            <li>Following {{ bird.no_following }}</li>
            <li>Followers {{ bird.no_followers }}</li>
            <li>Member since {{ bird.joined|date:"M, Y" }}</li>
        </ul>
    </div>

    {% if user %}
        {% block follow_unfollow %}
        {% endblock %}

        {% block share %}
        {% endblock %}
    {% endif %}

    <div id="tweet_response"></div>
    <div id="tweets">
        {% for tweet in tweets %}
        <div class="tweet">
            <a class="username" href="/user/{{tweet.username}}">{{tweet.username}}</a>
            <span class="message">{{tweet.message}}</span>
            <span class="pub_time">at {{tweet.published|date:"P \- D, M d"}}</span>
        </div>
        {% endfor %}
    </div>

{% endblock %}
