{% extends "timeline.html" %}

{% block title %}
    {{bird.username}}'s Timeline
{% endblock title %}

{% block follow_unfollow %}
{% if not same_bird %}
    <form id="follow_form" action="/follow" method="post">
    {% if is_following %}
        <input class="ufbutton" type="submit" value="Unfollow"/>
    {% else %}
        <input class="fbutton" type="submit" value="Follow"/>
    {% endif %}
        <input type="hidden" name="next" value="{{ request.uri|escape }}" />
        <input type="hidden" name="username" value="{{ bird.username }}" />
    </form>
{% endif %}
{% endblock %}
