{% extends "timeline.html" %}
{% block follow_unfollow %}
{% if same_bird %}
    <div id="flash">Hey, it's you</div>
{% else %}
    {% if is_following %}
    <form action="/unfollow" method="post">
        <input type="hidden" name="next" value="{{ request.uri|escape }}" />
        <input type="hidden" name="username" value="{{ bird.username }}" />
        <input type="submit" value="Unfollow"/>
    </form>
    {% else %}
    <form action="/follow" method="post">
        <input type="hidden" name="next" value="{{ request.uri|escape }}" />
        <input type="hidden" name="username" value="{{ bird.username }}" />
        <input type="submit" value="Follow"/>
    </form>
    {% endif %}
{% endif %}
{% endblock %}
